.main-header{
    background: linear-gradient(to right, #4C1036CC, #72195AC9, #6B5CA5E0, #71A9F7D4, #C6D8FF);
}
.main-header-internal{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10vh 0vh 48vh;
}
.main-title{
    margin-top: 10vh;
    margin-bottom: 8vh;
    color: white;
    font-size: 4em;
    text-shadow: 0 2px 3px black;
}
.main-subtitle{
    color: white;
    font-size: 1.5em;
}
.input-container{
    position: relative;
    display: flex;
    align-items: center;
}
.main-prompt{
    transition: 300ms;
    border-radius: 20px;
    width: 40vw;
    height: 4vh;
    border-color: transparent;
    padding: 15px;
}
.main-prompt:focus{
    outline: none;
}
.main-prompt::placeholder{
    color: grey;
}
.main-prompt:hover{
    transition: 300ms;
    box-shadow: 0 5px 8px 0px rgba(0, 0, 0, 0.7);
}
.main-submit{
    position: absolute;
    right: 0;
    height: 100%;
    border: none;
    background-color: transparent;
    color: black;
    font-weight: bold;
    border-radius: 20px;
    padding: 0 15px;
    cursor: pointer;

    transition: 300ms;
}
.main-submit:hover{
    transition: 300ms;
    transform: scale(1.1);
}
.main-body{
    padding-top: 10vh;
    padding-bottom: 10vh;
}
.main-body-left{
    text-align: left;
    margin-left: 6vw;
    padding-bottom: 5vh;
}
.main-body-right{
    text-align: right;
    margin-right: 6vw;
}