* {
    box-sizing: border-box;   
}


.results-container {
    padding: 35px 35px;
    /* background:gray; */
}

.search-display {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 15px;
    padding-bottom: 20px;
    margin-left: 10vw;
}

.search-display h3 {
    margin: 0px;
}

.search-button {
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    color: #666;
}

.song-content {
    height:70vh;
    overflow-y:auto;
    background:#fff;
}

.create-button {
    position: absolute;
    top: 0;
    bottom: 0;
    
}
