
.song-card {
    display: flex;
    align-items: center;
    justify-content: space-start;
    padding: 20px 20px;
    border-bottom: 1px solid #ddd;
    width: 100%;
    max-height: 100px;
}

.song-card:hover {
    background: #f9f9f9;
}

.song-card img {
    width: 60px;
    height: 60px;
    border-radius: 50%; /* Make the image circular */
    margin-right: 15px;
    object-fit: cover;
    transition: transform 0.5s ease; /* Add transition for spinning effect */
    animation: spin 10s linear infinite; /* Add animation for spinning effect */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.album-art {
    width: 50px;
    height: 50px;
    border-radius: 4px;
}

.song-info {
    width: 100%;
    margin: 0px 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.song-album {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 130px;
    
}

.song-title {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    color: #333;
    white-space: nowrap; 
    overflow: hidden;   
    text-overflow: ellipsis; 
    max-width: 50%; 
}

.song-artist {
    margin: 0;
    font-size: 14px;
    white-space: nowrap; 
    overflow: hidden;   
    text-overflow: ellipsis; 
    color: #666;
}

.song-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-right: 15px;
}

.song-button{
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    color: #666;
    position: absolute;
    right: 0;
}

button:hover{
    transition: 200ms;
    color: black;
}

.song-actions {
    position: relative;
  }
  
  .dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 10vw;
  }
  
  .dropdown ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 95%;
    margin-left: 2.5%;
    padding: 10px;
  }
  
  .dropdown li {
    padding: 8px 12px;
    cursor: pointer;
    border-bottom: 1px solid grey;
  }
  
  .dropdown li:hover {
    background-color: #f0f0f0;
  }
  .dropdown-label{
    font-size: 1.3rem;
    color: #666;
    margin-left: 15%;
  }

.delete-song-button {
    margin-top: 3vh;
    position: relative;
    margin-left: 65%;
    background-color: #e8def8;
    border: none;
    color: black;
    border-radius: 18px;
    text-align: center;
    height: 15%;
    width: 15%;
    border: transparent;
    box-shadow: 0px 6px 10px 2px rgba(76, 16, 54, 0.5);
    transition: 300ms;
}

.delete-song-button:hover{
    transition: 300ms;
    transform: scale(1.05);
}
